@media screen and (min-width: 481px){

    /* common options */
    * {
        border: 0.5px solid black;
    }

    *, ::before, ::after {
        box-sizing: inherit;
    }

    html, body {
        line-height: 1.5;
        margin: 0;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
        box-sizing: border-box;
    }

    body {
        background-color: #f5fffa;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        margin: 10px 0;
    }

    a {
        color: inherit;
        background-color: transparent;
    }

    /* menu bar */

    .menu {
        overflow: hidden;
        background-color: #f5fffa;
        white-space: normal;
        width: auto;
        border: none;
        outline: none;
    }

    .border-bottom {
        border-bottom: 1px solid #f5fffa;
    }

    .xlarge {
        font-size: 24px !important;
    }

    .bar-item {
        padding: 8px 16px;
        text-decoration: none;
        color: #4169e1;
    }

    .text-white .hover-text-white:hover {
        color: #f5fffa !important;
    }

    .text-blue {
        color: #4169e1;
        background-color: #f5fffa;
    }
    
    .hover-blue:hover {
        color: #f5fffa !important;
        background-color: #4169e1 !important;
    }

    /* header */
    header {
        background-color: #f5fffa;
        width: 1500px;
        max-height: 700px;
        margin: auto;
        /*position: relative;*/
    }

    .image {
        max-width: 100%;
        
    }

    img {
        vertical-align: middle;
        width: 1500px;
        height: 700px;
        border-style: none;
        overflow: hidden;
    }

    .display-middle {
        visibility: hidden;
    }

    /* content */

    .container {
        padding: 0.01em 16px;
        display: table;
        clear: both;
    }

    .content {
        width: 100%;
        max-width: 1100px;
        margin: auto;
    }

    /* explore nature */

    .row-padding{
        padding: 0 8px;
    }

    .margin-bottom {
        margin-bottom: 16px !important;
    }

    .margin-top {
        margin-top: 16px !important;
    }

    .half {
        width: 49.99999%;
        float: left;
    }

    /* contact */

    h2 {
        font-size: 30px;
    }

    /* footer */
    footer {
        background-color: #f5fffa;
    }
}