@media screen and (min-width: 481px){

    /* common options */
    * {
        border: 0.5px solid black;
    }

    html, body {
        line-height: 1.5;
        margin: 0;
    }

    /* menu bar */

    .menu-bar {
        height: 52px;
        width: 100%;
    }

    .menu {
        box-sizing: border-box;
        display: block;
        float: left;
        line-height: 36px;
        font-size: 24px;
        padding: 8px 16px;
    }

    .bar-item {
        padding: 0px 16px;
        text-decoration: none;
    }

    .edge-bar-item {
        text-decoration: none;
    }

    header {
        background-color: #4169e1;
    }

    .main {
        background-color: #f5fffa;
    }

    .menu {
        background-color: #f5fffa;
    }

    .footer {
        background-color: #f5fffa;
    }

    body {
        background-color: #f5fffa;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: right;
    }
}